* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    background: blanchedalmond;
    overflow: hidden;
}


.rpg-dialog {
    background-color: #0a0a0a;
    padding: 20px;
    border: 2px solid #8b4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Ajusta según sea necesario */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.rpg-title {
    color: #ffd700;
    font-size: 24px;
    margin-bottom: 10px;
}

.rpg-text {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.rpg-button {
    background-color: #8b4513;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rpg-button:hover {
    background-color: #cd853f;
}

/* Reglas de diseño responsivo */
@media screen and (max-width: 768px) {
    .rpg-dialog {
        max-width: 100%;
        width: 90%
    }
}
