body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 4px;
}

form div input[type="checkbox"] {
    margin-right: 5px;  /* Ajusta el margen entre la casilla y el párrafo según tus preferencias */
    width: fit-content;
    height: fit-content;
}


form div input[type='radio'] {
    width: fit-content;
    height: fit-content;
    margin: 0px 5px;
}

div p {
    margin: 0;
    color: #777;
    font-size: 0.8em;
    flex: 1;
}

#SignUp {
    display: none;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
    }
}


/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    form {
        background-color: #444;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    label {
        color: #ccc;
    }

    input {
        border: 1px solid #666;
    }

    button {
        background-color: #007bff;
        color: #fff;
    }

    button:hover {
        background-color: #0056b3;
    }

    div p {
        color: #aaa;
    }
}
